.about_us {
  text-align: center;
  background:linear-gradient(to bottom, var(--color-primary-dark) 10%, var(--color-primary) 90%);
  -webkit-background-clip: text; /* Safari/Chrome */
  -moz-background-clip: text; /* Firefox */
  -webkit-text-fill-color: transparent; /* Safari/Chrome */
  -moz-text-fill-color: transparent;
}