@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300;700&family=Carme&display=swap');

@import 'index.module.css';

:root {
  /* Grid */
  --grid-width: 114rem;
  --gutter-vertical: 8rem;
  --gutter-vertical-small: 6rem;
  --gutter-horizontal: 6rem;
  
  /* color */
  --color-primary:#3274F1;
  --color-primary-light: #769bff;
  --color-primary-dark:#254BB3;

  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ff7730;

  --color-tertiary-light: #ff29ff;
  --color-tertiary-dark: #ae00b7;

  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;

  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-grey-dark-3: #333;

  --color-white: #fff;
  --color-black: #000;

  --default-font-size: 1.6rem;

  --grid-width: 114rem;
  --gutter-vertical: 8rem;
  --gutter-vertical-small: 6rem;
  --gutter-horizontal: 6rem;

  /* Breakpoints */
  --bp-big: min-width: 112.5em;
  --bp-tab-land: max-width: 75em;
  --bp-tab-port: max-width: 56.25em
  --bp-phone: max-width: 37.5em
  
  /* Font size */
  --font-size-base: 1.6rem;
}



*,
*::after,
*::before {
    margin: 0rem;
    padding: 0;
    box-sizing: inherit;
}


body {
  font-family: 'Averia Sans Libre', cursive;
  background-color: var(--color-background);
  /* position: relative; not working   absolute: blue header banner stopps half way on large displays */
}





/* Responsive container */
/* .container {
  width: 100%;
  max-width: 112.5em;
  margin: 0 auto
}
@media(min-width: var(--bp-tab-land)) {
  .container {
    max-width: var(--bp-tab-land);
  }
}

@media(min-width: var(--bp-tab-port)) {
  .container {
    max-width: var(--bp-tab-port);
  }
}
@media(min-width: var(--bp-phone)) {
  .container {
    max-width: var(--bp-phone)
  }
} */

/* Responsive Fonts */
/* body {
  font-size: var(--font-size-base);
}
@media (min-width: var(--bp-big)) {
  body {
    font-size: var(--font-size-xl);
  }
}
@media (min-width: var(--bp-tab-land)) {
  body {
    font-size: var(--font-size-l);
  }
}
@media (min-width: var(--bp-tab-port)) {
  body {
    font-size: var(--font-size-m);
  }
}
@media (min-width: var(--bp-phone)) {
  body {
    font-size: var(--font-size-s);
  }
} */



